.gradient-text {
  /* background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #00ff00, #ff0000, #00ff00, #0000ff); */
  background: linear-gradient(45deg, #65DCF8, #6EB7FF, #005FEA, #005FEA, #504FFB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 1000% 1000%;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease-out;
}

#glass {
  background: rgba(27, 32, 36, 0.4);
  /* background: rgba(0, 0, 0, 0.4); */
  backdrop-filter: blur(4px);
  /* opacity: 0.9; */
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
}

#container {
  position: relative;
  /* overflow: hidden; */
  border-width: 1px;
  border-color: #888888;
  border-style: solid;
}

#rotatable {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: #888888;
  transform: rotate(-45deg);
  border-radius: 50%;
  transition: transform 1s;
  /* Simplified transition property */
}

#upperRotable:hover #rotatable {
  transform: rotate(360deg) translateZ(0);
  /* Modern property */
}

.arrow {
  position: absolute;
  opacity: 0.6;
  left: 10px;
  transition: left 0.2s linear;
}

#container:hover .arrow {
  opacity: 1
}




/* #emailroatation {
  position: relative;
  animation: animate 7.5s linear infinite;
} */

/* .splitemailroatation {
  position: absolute;
  top:0;
  left: 0;
  display: inline-block;
  transform-origin: 50% 50%;
  padding: 2px;
} */

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}




/* ----------------------------- Projects ----------------------- */

/* #indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 100%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#gallary {
  display: flex;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
}

#gallary-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1px 20px;
  height: 400px;
  margin: 0 5px;
  background: #000;
  overflow: hidden;
  transition: flex 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#gallary-item img {
  width: 40px;
  height: 80px;
  object-fit: contain;
  transform: scale(2);
}

#gallary-item-div {
  width: 400px;
  height: 100%;
  object-fit: contain;
  transform: scale(2);
} */

/* <=================== Work ======================> */
#priview {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  height: 275px;
  z-index: 2;
  pointer-events: none;
  /* overflow: hidden; */
}

.preview-img-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.priviewimg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.preview-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  /* opacity: 0; */
  /* transition: opacity 0.5s ease; */
}

.preview-img1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  /* opacity: 0; */
  /* transition: opacity 0.5s ease; */
}

.preview-img2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  /* opacity: 0; */
  /* transition: opacity 0.5s ease; */
}