/* CSS for the gradient animation */
.text {
    position: relative;
}

.text p{
    background: linear-gradient(to right,
            rgb(255, 255, 255) 50%,
            #444444  50%);
    background-size: 200% 100%;
    background-position-x: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    text-transform: none;
    text-align: center;
}