.gradient-text {
    /* background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #00ff00, #ff0000, #00ff00, #0000ff); */
    background: linear-gradient(45deg, #65DCF8, #6EB7FF, #005FEA, #005FEA, #504FFB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1000% 1000%;
  }
  
  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
  
  